.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0000ff;
}

.formContainer {
  min-height: 400px;
  background-color: #ffffff;
  padding: 100px;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
}
