.textFields {
  display: flex;
  align-items: center;
}

.textFields:last-child {
  margin-bottom: 10px;
}

.loginButton {
  margin-top: 40px;
}

.register {
  font-size: 14px;
  margin-top: 24px;
}

.link {
  color: #5d99ff;
}
